/* mobil här först */
body{
    margin: 0;
    height: 100vh;
    /* width: 100vw; */
    background: url(../img/bakrund\ jullich\ psd\ stor.png)
}

/* wrapper måste ha 6 rader, 1 rad för header en 4 för main pga granen sen en för footer.
   wrapper måste ha 4 columner för alla cirklarna. granarna spanar mellan två i main och byta flik grejen 
   ligger som en "transform: translate()" eller så*/
/* ta kanske bort auto */
.wrapper{
    display: grid;
    grid-template-rows: 75px auto 100px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "cirklar"
    "gran"
    "footer"
}

header{
    grid-area: cirklar;
    display: flex;
    justify-content: space-between;

}
.cirkel{
    height: 75px;
    width: 75px;
    border-radius: 50%; 
    background-color: #2EFF7B;
}


.cirkel:nth-child(2){
    background-color: #F55656;
}

.cirkel:nth-child(3){
    background-color: white;
    color: black;
}

.rund{
    height: 75px;
    width: 75px;
    border-radius: 50%; 
    background-color: #79D5EA;
}

h1{
    font-size: 33px;
    text-align: center;
    margin: 19px;
    color: white;    
}
h2{
    font-size: 33px;
    text-align: center;
    margin: 19px;
    color: #707070;
}

.rund:nth-child(2){
    background-color: white;

}

.rund:nth-child(4){
    background-color: white;

}


p{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 19px;
}

p:nth-child(3){
    color: black;
}
main{
    grid-area: gran;

}

.bilder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bilder img:nth-child(1){
    width: 35px;
    height: 59px;
}
.bilder img:nth-child(2){
    width: 134px;
    height: 64px;
}

.bilder img:nth-child(3){
    width: 160px;
    height: 59px;
}

.bilder img:nth-child(4){
    width: 203px;
    height: 59px;
}


footer{
    background-color: #DE6977;
    grid-area: footer;

}


