/* mobil här först */
body{
    margin: 0;
    height: 100vh;
    /* width: 100vw; */
    background: url(../img/bakrund\ jullich\ psd\ stor.png)
}


.wrapper{
    display: grid;
    grid-template-rows: 75px auto 1000px;
    grid-template-columns: 100vw;
    grid-template-areas: 
    "cirklar"
    "gran"
    "footer"
}

header{
    grid-area: cirklar;
    display: flex;
    justify-content: space-between;

}
.cirkel{
    height: 75px;
    width: 75px;
    border-radius: 50%; 
    background-color: #2EFF7B;
    border: 1px solid gray;
}


.cirkel:nth-child(2){
    background-color: #F55656;
}

.cirkel:nth-child(3){
    background-color: white;
    color: black;
}

.rund{
    height: 75px;
    width: 75px;
    border-radius: 50%; 
    background-color: #79D5EA;
}

h1{
    font-size: 33px;
    text-align: center;
    margin: 19px;
    color: white;    
}
h2{
    font-size: 33px;
    text-align: center;
    margin: 19px;
    color: #707070;
}

.rund:nth-child(2){
    background-color: white;

}

.rund:nth-child(4){
    background-color: white;

}


p{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 19px;
}

p:nth-child(3){
    color: black;
}
main{
    grid-area: gran;

}

.dflik{
    position: fixed;
    height: 90px;
    width: 90px;
    background-color: white;
    top: 110px;
    left: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.nyflik{
    position: fixed;
    height: 90px;
    width: 90px;
    background-color: white;
    top: 250px;
    left: 15px;
    border: 1px solid gray;
    border-radius: 15px;
}



.host{
    margin-left: 1500px;
}

.bilder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bilder img:nth-child(1){
    width: 35px;
    height: 59px;
}
.bilder img:nth-child(2){
    width: 134px;
    height: 64px;
}

.bilder img:nth-child(3){
    width: 160px;
    height: 59px;
}

.bilder img:nth-child(4){
    width: 203px;
    height: 59px;
}
.yst{
    margin-left: 200px;
}
.bilder2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 40px;
}

.bilder2 img:nth-child(1){
    width: 105px;
    padding-left: 38%;
    margin-top: 7px;
 
}

.bilder2 img:nth-child(2){
    width: 110px;
    margin-top: 7px;
}
.bilder2 img:nth-child(3){
    width: 110px;
    padding-left: 37%;
}
.bilder2 img:nth-child(4){
    width: 110px;
    margin-left: 3px;
}

footer{
    background-color: #DE6977;
    grid-area: footer;
    margin-top: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* for desktop */
@media only screen and (min-width: 768px){
.wrapper{
    grid-template-columns: 150px auto;
    grid-template-rows: 130px auto 170px;
    grid-template-areas:
    "huvud huvud"
    "siffror bild"
    "footer footer"
}

.skugga{
    grid-area: huvud;
    background-color: rgba(0, 0, 0, 0.4);
}

header{
    grid-area: siffror;
    display: flex;
    flex-direction: column;
    margin-left: 40px;

}

main{
    grid-area: bild;
}

.dflik{
    top: 90px;
    left: 450px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nyflik{
    top: 90px;
    left: 900px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cirkel{
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.bilder{
    margin-top: 100px;
    
}





}